Repository l50/homebrew-brewfile, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/license, area/readme, area/docs, area/magefiles, area/brew

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/license:
  - "LICENSE"

area/readme:
  - "README.md"

area/docs:
  - "docs/**/*"

area/magefiles:
  - "magefiles/**/*"

area/brew:
  - "Brewfile"
  - "Brewfile.lock.json"

fix(deps): update module github.com/l50/goutils/v2 to v2.1.3
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

fix(deps): update module github.com/spf13/afero to v1.10.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

Updated Go version and modified Brewfile.
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
  Brewfile
  magefiles/go.mod
  magefiles/go.sum
Labels: area/github, area/magefiles, area/brew

Refined dependency installations and removed Google Cloud SDK.
  .github/workflows/tests.yaml
  Brewfile
Labels: area/github, area/brew

Remove old brew entries
  Brewfile
Labels: area/brew

Add more robust error checking
  .github/workflows/tests.yaml
  magefiles/magefile.go
Labels: area/github, area/magefiles

Update go versions in actions to match .tool-versions
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
  magefiles/magefile.go
Labels: area/github, area/magefiles

Removed toolchain from mage go.mod
  magefiles/go.mod
Labels: area/magefiles

Remove serverless (not used as much anymore)
  Brewfile
Labels: area/brew

Removed postman - was getting a 404
  Brewfile
Labels: area/brew

Update mage go.mod and go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

Add autogenerated magefiles README
  magefiles/README.md
Labels: area/magefiles

Add renovate badge
  README.md
Labels: area/readme

fix(deps): update module github.com/l50/goutils/v2 to v2.1.5
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

Add docker-completion
  Brewfile
Labels: area/brew

Update magefile and dependencies.
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
Labels: area/magefiles

chore(deps): update pre-commit hook adrienverge/yamllint to v1.33.0
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.1.0
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update pre-commit hook adrienverge/yamllint to v1.33.0
  .pre-commit-config.yaml
Labels: area/pre-commit

Add 1passcli; bump magefile go version
  .tool-versions
  Brewfile
  Brewfile.lock.json
Labels: area/brew

chore(deps): update dependency golang to v1.21.5
  .tool-versions
Labels: none

chore(deps): update dependency python to v3.12.1
  .tool-versions
Labels: none

fix(deps): update module github.com/l50/goutils/v2 to v2.1.6
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

fix(deps): update module github.com/spf13/afero to v1.11.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

Updated tool-versions for the repo
  Brewfile
Labels: area/brew

Ran brew bundle and removed asdf script
  .asdf
  Brewfile.lock.json
  README.md
Labels: area/readme, area/brew

Update PC hooks
  .pre-commit-config.yaml
Labels: area/pre-commit

Removed dead code
  .hooks/generate-docs.sh
  .hooks/run-bats-tests.sh
  magefiles/README.md
  magefiles/magefile.go
Labels: area/pre-commit, area/magefiles

Fixed wireshark
  Brewfile
Labels: area/brew

chore(deps): update dependency golang to v1.21.5
  .tool-versions
Labels: none

chore(deps): update dependency python to v3.12.1
  .tool-versions
Labels: none

fix(deps): update module github.com/spf13/afero to v1.11.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

Remove aws cli - now managing with ansible
  Brewfile
Labels: area/brew

Add zsh-completions
  Brewfile
Labels: area/brew

chore(deps): update dependency golang to v1.21.5
  .tool-versions
Labels: none

fix(deps): update module github.com/l50/goutils/v2 to v2.1.9
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

Update Brewfile.lock
  Brewfile.lock.json
Labels: area/brew

Add node_modules to gitignore
  .gitignore
Labels: none

Enhanced Project Configuration and Code Quality Tools
  .editorconfig
  .hooks/generate-docs.sh
  .hooks/linters/mdstyle.rb
  .hooks/prettier.sh
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update dependency python to v3.12.1
  .tool-versions
Labels: none
