Repository l50/homebrew-brewfile, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/license, area/readme, area/docs, area/magefiles, area/brew

fix(deps): update module github.com/spf13/afero to v1.11.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

chore(deps): update dependency ruby to v3.3.0
  .tool-versions
Labels: none

fix(deps): update module github.com/l50/goutils/v2 to v2.2.2
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

chore(deps): update dependency python to v3.12.1
  .tool-versions
Labels: none

chore(deps): update dependency ruby to v3.3.0
  .tool-versions
Labels: none

chore(deps): update dependency python to v3.12.2
  .tool-versions
Labels: none

chore(deps): update dependency golang to v1.22.0
  .tool-versions
Labels: none

chore(deps): update pre-commit hook adrienverge/yamllint to v1.34.0
  .pre-commit-config.yaml
Labels: area/pre-commit

Removed tool-versions file; added btop to Brewfile
  .tool-versions
  Brewfile
Labels: area/brew

chore(deps): update pre-commit hook adrienverge/yamllint to v1.34.0
  .pre-commit-config.yaml
Labels: area/pre-commit

Replaced awsume with granted
  Brewfile
Labels: area/brew

Updated brewfile lock
  Brewfile.lock.json
Labels: area/brew

Remove old packages; update pc hooks
  .pre-commit-config.yaml
  Brewfile
Labels: area/pre-commit, area/brew

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/license:
  - "LICENSE"

area/readme:
  - "README.md"

area/docs:
  - "docs/**/*"

area/magefiles:
  - "magefiles/**/*"

area/brew:
  - "Brewfile"
  - "Brewfile.lock.json"
